.post {
  max-width: 50rem;
  background: white;
  border: 2px solid lightgray;
  margin-top: 2rem;
}
.post-header {
  display: flex;
  align-items: center;
  margin: 1rem;
}
.post-avatar {
  margin-right: 1rem;
}
.post-image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.post-h4 {
  font-weight: normal;
  padding: 1rem;
}
.post-commentbox {
  display: flex;

}
.post-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-top: 1px solid lightgray;

}
.post-input:hover {
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
}
.post-button{
  flex:0;
  border: none;
  color: #6082a3;
  background: transparent;
  border-top: 1px solid lightgray;
}
.post-comment {
  padding-left: 1rem;
}