* {
  margin: 0;
}
.app {
  background: #fafafa;
  height: 100vh;
}
.app-header {
  background: white;
  object-fit: contain;
  border-bottom: 2px solid lightgray;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 99;
}
.logo {
  margin-left: 2rem;
  object-fit: contain;
  height: 4rem;
  width: 6rem;
}
.post-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.app-signup {
  display: flex;
  flex-direction: column;
}
.app-login-container {
  align-self: center;
}
